<section style="height:auto; width: 700px; margin-left: 300px;" ng-controller="empForm" >



    <h1 style="text-align: center">Employee Form</h1><br><br><br>




    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="empId">Employee ID:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.id" class="form-control" id="empId" placeholder="Enter Employee's ID">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="empName">Employee Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.name" class="form-control" id="empName" placeholder="Enter Employee's Name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="empBday">Employee Birthday:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.BirthDate" class="form-control" id="empBday" placeholder="Enter Employee's Birthdate">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="empAge">Employee Age:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.Age" class="form-control" id="empAge" placeholder="Enter Employee's Age">
            </div>
        </div>

        <br><br>


        <div class="text-center">



            <button class="btn btn-primary btn-sx" type="button" ng-click="editBtn()" href="/employeelist.html">Save</button>


        </div>




    </form>
</section>